body{
background: #135FB2;
}

h1{
  text-align: center;
  font-family:Arial;
}

.header{

  background-color:#3495FF;
  text-align: center;
  padding: 10px 0px 0px 0px;
  border-style:groove;
  border-color: white;
  border-width: 5px;
  border-radius: 5px;
}

ul{
  padding: 10px;
  background:#3495FF;
  text-align: center;
  border-style: solid;
  border-color: #FF5B4E;
  border-width: 8px;
  border-radius: 3px;
}

li{
  font-family: Arial;
  font-weight: bold;
  display: inline;
  padding: 0px 10px 0px 10px;

}

a{
  color:white;
}

p{
  color:white;
  background: #3495FF;
  padding:20px;
  font-family: Arial;
  font-size: 20px
  

}
/*grid on projects page*/
.floated_img{
    float:left;
    text-align: center;
    padding: 0px 40px 0px 0px;
}

/*js slideshow on index*/
.picslide{
  text-align: center;
  padding: 10px 0px 0px 0px;
  border-radius: 5px;

}

/*modifies contact info on index*/
.contactinfo{
  color:white;
  background: #3495FF;
  text-align: center;
  display: block;
  font-family: Arial;
  font-size: 20px
}
